@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #C8860A;
  --color-gold2: #E8A020;
  --color-gold3: #F5C040;
  --color-amber: #D4700A;
  --color-cream: #FDF6E8;
  --color-txt: #1C1408;
  --color-txt2: #5C4010;
  --color-txt3: #8C6830;
  --color-txt4: #B09060;
  --font-display: 'Playfair Display', serif;
  --font-body: 'DM Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
